@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.signin-content,
.social-login {
    display: flex;
    display: -webkit-flex
}
input{
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0
}

input:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important
}
.signin-form,
.signin-image {
    width: 50%;
    overflow: hidden
}
.register-form {
    width: 100%
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box
}

input::-webkit-input-placeholder {
    color: #999
}

input::-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder {
    color: #999
}

input:-moz-placeholder {
    color: #999
}

input:focus {
    border-bottom: 1px solid #222
}

input:focus::-webkit-input-placeholder {
    color: #222
}

input:focus::-moz-placeholder {
    color: #222
}

input:focus:-ms-input-placeholder {
    color: #222
}

input:focus:-moz-placeholder {
    color: #222
}
label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222
}
.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px
}
.signin-form {
    margin-right: 90px;
    margin-left: 80px
}
.form-title {
    font-family: 'Pacifico', cursive;
}
.signin-form h1{
    font-size: 40px;
    font-weight: bolder;
}
.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer
}

.form-submit:hover {
    background: #4292dc
}

#signin {
    margin-top: 16px
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden
}

.form-group:last-child {
    margin-bottom: 0
}

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px
}
.signin-content {
    padding-top: 67px;
    padding-bottom: 87px
}
@media screen and (max-width:1200px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%
    }
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 1200px
    }
}

@media screen and (max-width:768px) {
    .signin-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center
    }


    .signin-image {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -o-order: 2;
        -ms-order: 2
    }

    .signin-form,
    .signin-image {
        width: auto
    }


    .form-button {
        text-align: center
    }

    .signin-form {
        order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -o-order: 1;
        -ms-order: 1;
        margin-right: 0;
        margin-left: 0;
        padding: 0 30px
    }

    .form-title {
        text-align: center
    }
}